@media (prefers-color-scheme: dark) {
    * {
        color: var(--t-dark-fg);
    }
}

.glossary-list[data-count="0"],
.glossary-list[data-count="1"] {
    padding-left: 0;
    list-style-type: none;
}
