.pill.small {
    padding: 1px 12px;
}

.mora.high.next-low {
    margin-right: 3px;
}

.pitch-line {
    border-width: 2px;
    border-color: currentColor;
}

.pitch-line.high {
    border-style: solid none none none;
}

.pitch-line.high.next-low {
    border-style: solid solid none none;
}
