@media (prefers-color-scheme: dark) {
    * {
        color: #ffffff;
    }
}

body {
    overflow: hidden;
}

.gloss-content {
    display: inline;
}

.gloss-list[data-count="0"],
.gloss-list[data-count="1"] {
    padding-left: 0;
    list-style-type: none;
}
